.team_domingo {width: 100%; margin: 0 auto; background-color: #000;}
header {
    margin: 0 auto;
 width: 100%; height: 80px; background: #000;
 display: flex; justify-content: space-between; align-items: center; 
 padding: 0 2.5%;box-sizing: border-box;
}


.main{margin: 0 auto;
  position: relative;
  width: 100%; height: 1080px; 
}

.main__bg{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.main_title_1,
.main_title_2,
.main_article_warp{
  position: relative;
  z-index: 2;
  color: #fff;
}
.main_text_wrap {
    width: 100%; height: 100%; 
    position: absolute; top: 0; left: 0;
    -webkit-backdrop-filter: blur(14px); backdrop-filter: blur(14px);
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
}
.main_title_1{ font-family: "Gilda Display", serif; font-size: 20vw; letter-spacing: -1.25rem; line-height: 0.8;}
.main_title_2{ font-family: "Gilda Display", serif; font-size: 14vw; letter-spacing: -1.25rem; line-height: 0.61;}
.main_article_warp {display: flex; flex-wrap: wrap;  gap: 69px;}
.main_article {font-size: 16px; font-weight: 800; letter-spacing: -0.7;}

.gnb_left {font-size: 20px; font-weight: 700;  color: #fff; }

.gnb ul {display: flex; gap: 32px;}

.gnb ul li a {color: #fff;  transition: 0.3s;}

.gnb ul li a:hover {color: yellow;}

.preview {
    width: 100%; display: flex; flex-wrap: wrap; flex-direction: column; gap: 62px;
    margin: 0 auto; padding: 140px 0; background-color: #000;
    text-align: left;       /* 변경 */
    align-items: flex-start; /* 변경 */
}

.preview .sub_title_xl {margin: 0 auto; color: #fff;}
.preview_top {width: 100%; display: flex; min-height: 564px;}

.preview_top_img {
    width: 1022px; height: 564px;
    background: url(../img/preview_top.png) no-repeat center center;
    background-size: cover; background-color: aqua;
}

.preview_top_text_box {
    width: 898px; padding: 0 90px; box-sizing: border-box;
    display: flex; flex-wrap: wrap; flex-direction: column; 
    justify-content: space-between; 
}

.preview_top_title,
.preview_top_article,
.preview_top_article_big {
    text-align: left; 
    align-items: flex-start; 
    justify-content: flex-start;
}

.nam_june_paik {font-size: 100px; font-weight: 700; letter-spacing: -4px; color: #fff;}
.preview_top_title {display: flex; flex-wrap: wrap; flex-direction: column; gap: 24px; }
.preview_top_title .sub_title_xs_semibold {text-align: left; align-items: flex-start;}

.preview_top_article {display: flex; flex-wrap: wrap; flex-direction: column; gap: 12px;}
.preview_top_article_big {display: flex; flex-wrap: wrap; gap: 12px; align-items: center;}


.preview_btm {width: 100%; padding:  230px 0 0 43px; box-sizing: border-box; }
.preview_btm_title {font-size: 100px; font-weight: 700; line-height: 89%; letter-spacing: -2px; color: #fff;}
.preview_btm_article{font-size: 22px; font-weight: 600; letter-spacing: -1px; color: #fff;}
.preview_btm_box_article{font-size: 16px; font-weight: 500; letter-spacing: -1px; color: #fff;}

.preview_btm_wrap {display: flex; align-items: flex-end; justify-content: space-between; height: 650px; position: relative; }
.preview_btm_box_wrap {position: absolute; bottom: 0; right: 0; width: 70%;}
.preview_btm_box {display: flex; flex-direction: column; gap: 31px;}

.preview_btm_box_img1 {
    width: 100%; height: 566px;
    background: url(../img/btm_1.jpg) no-repeat center center;
    background-size: cover;
}

.preview_btm_box_img2 {
    width: 100%; height: 566px;
    background: url(../img/btm_2.jpg) no-repeat center center;
    background-size: cover;
}

.preview_btm_box_img3 {
    width: 100%; height: 566px;
    background: url(../img/btm_3.jpg) no-repeat center center;
    background-size: cover;
}

.preview_btm_box_text {display: flex; flex-wrap: wrap; gap: 12px;} 





.video {
    width: 100%; height: 993px; padding: 84px 0; margin: 0 auto;
    background: url(../img/vedio_img.jpg) no-repeat center center;
    background-size: cover; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between;
}

.video_img_1 {
    width: 1400px; height: 300px; margin: 0 auto;
    background: url(../img/video_img_1.jpg) no-repeat center center;
    background-size: cover;
}

.video_img_2 {
    width: 1400px; height: 300px; margin: 0 auto;
    background: url(../img/video_img_2.jpg) no-repeat center center;
    background-size: cover;
}

.video_text_wrap {width: 1400px; margin: 0 auto; display: flex; flex-wrap: wrap; gap: 231px; text-align: center; align-items: center;}

.video_title {font-family: "Black Han Sans", sans-serif; font-size: 190px; color: #fff; letter-spacing: -1px;}
.video_title_sm {font-size: 16px; font-weight: 400;  color: #fff;}
.art_culture {
    width: 100%;
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 62px; padding: 120px 0; 
    margin: 0 auto; background-color: #000; text-align: center; align-items: center; box-sizing: border-box;
}
.art_culture_box_text_wrap {
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 20px;
}
.art_culture_box {
    display: flex; flex-wrap: wrap;  gap: 0; margin: 0 auto; align-items: center;
}
.art_culture_box_wrap {
  width: 100%;  
  margin: 0 auto;
}
.art_culture_box_img {width: 50%; height: 958px;}


.art_culture_box_img1 {
    width: 50%; height: 958px;
    background: url(../img/art_culture_box_img.jpg) no-repeat center center;
    background-size: cover;
}

.art_culture_box_img2 {
    width: 50%; height: 958px;
    background: url(../img/art_culture_box_img_2l.jpg)no-repeat center center;
    background-size: cover;
}

.art_culture_box_img3 {
    width: 50%; height: 958px;
    background: url(../img/art_culture_box_img_3.jpg)no-repeat center center;
    background-size: cover;
}
.art_culture_box_right {
    width: 50%; height: 958px;
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 62px; 
    justify-content: center; align-items: center;
}



.art_culture_box_small_img1 {
    width: 310px; height: 342px;
    background: url(../img/art_culture_box_img.jpg) no-repeat center center;
    background-size: cover;
}

.art_culture_box_small_img2 {
    width: 310px; height: 342px;
    background: url(../img/art_culture_box_img_2l.jpg) no-repeat center center;
    background-size: cover;
}

.art_culture_box_small_img3 {
    width: 310px; height: 342px;
    background: url(../img/art_culture_box_img_3.jpg) no-repeat center center;
    background-size: cover;
}
/* 배너*/
.banner {
    width: 100%; height: 598px; display: flex; flex-wrap: wrap; flex-direction: column; gap: 52px;
    background: url(../img/banner.jpg) no-repeat center center; text-align: center; 
    align-items: center; justify-content: center;
}
.banner_title {font-size: 52px; font-weight: 700; letter-spacing: -1px; color: #fff;}

.banner_text_warp {
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 6px;
}

.banner_sub_title {font-size: 22px; font-weight: 600; letter-spacing: -1px; color: #fff;}
.banner_article {font-size: 20px; font-weight: 800; letter-spacing: -1px; color: #fff;}

.project {
    width: 100%;
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 62px;
    padding: 120px 0; margin: 0 auto;
}

.project .sub_title_xl {text-align: center;}
.project_box {width: 100%; display: flex; flex-wrap: wrap; gap: 0;}

.project_box_left {
    width: calc(100% / 3); height: 568px;
    background: url(../img/project_box_left.jpg) no-repeat center center;
    background-size: cover;
}
.project_box_center {
    width: calc(100% / 3); padding: 0 120px; box-sizing: border-box;
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 86px; justify-content: center;
}
.project_box_title {font-size: 64px; font-weight: 600; letter-spacing: -1px; color: #fff; text-align: right;}

.project_box_text_warp {display: flex; flex-wrap: wrap; flex-direction: column; gap: 43px;}

.project_box_text_title {font-size: 20px; font-weight: 600; letter-spacing: -0.7px; color: #fff;}
.project_box_text_article {font-size: 16px; font-weight: 300; letter-spacing: -0.7px; color: #fff;}

.project_box_right {
    width: calc(100% / 3); height: 568px;
    background: url(../img/project_box_right.jpg) no-repeat center center;
    background-size: cover;
}

footer{width: 100%; 
    text-align: left; /* 푸터 내부의 텍스트를 왼쪽으로 정렬 */}

.footer_title{font-size: 48px; font-weight: 500; line-height: 140%; /* 67.2px */ letter-spacing: -2px; color: #fff;}

.footer_top{display: flex; flex-direction: column; text-align: left; align-items: flex-start; justify-content: flex-start; padding-left: 48px; padding-bottom: 19px;}

.line_footer {
    width: 100%;
    height: 1px;
    background-image: repeating-linear-gradient(to right, #fff 0, #fff 1px, transparent 1px, transparent 20px);
    background-size: 100% 1px;
}

.footer_middle{display: flex; justify-content: space-between; 
padding-left: 48px; padding-right: 48px; padding-bottom: 27px; padding-top: 32px;
}
.footer_content{display: flex; gap: 88px;}
.footer_bottom{ display: flex; width: 100%; box-sizing: border-box; padding: 39px 48px;}
.footer_txt{display:flex; width: 60px;}
.footer_img{display:flex; width: 100%; height: 239px; background: url(../img/footer_img.png);}

